<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
        <title>HALAL Express </title>

        <link rel="stylesheet" href="pure-min.css" integrity="sha384-" crossorigin="anonymous">

        <link rel="stylesheet" href="grids-responsive-min.css">
        <link rel="stylesheet" href="blog.css">
        <link rel="stylesheet" href="forms.css">
        <link rel="stylesheet" href="buttons-core.css">
        <link rel="stylesheet" href="buttons.css">
        <link rel="stylesheet" href="tables.css">
    </head>
    <body>
        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-4">
                <div class="header">
                    <h1 class="brand-title">حلال (HALAL)</h1>
                    <h2 class="brand-tagline">Cek Produk Halal MUI</h2>
                </div>
            </div>

            <div class="content pure-u-1 pure-u-md-3-4">
                <div>
                    <!-- A wrapper for all the blog posts -->
                    <div class="posts">
                        <h1 class="content-subhead">Cek Produk</h1>

                        <!-- A single blog post -->
                        <section class="post" align="center">
                            <form class="pure-form pure-form-stacked">
                                <fieldset>

                                    <div class="pure-u-1 pure-u-md-1-5">
                                        <label for="state">Berdasar</label>
                                        <select id="berdasar" class="pure-input-1-5">
                                            <option value='nama_produk'>Nama Produk</option>
                                            <option value='nama_produsen'>Produsen</option>
                                            <option value='nomor_sertifikat'>Nomor Sertifikat</option>
                                        </select>
                                    </div>

                                    <div class="pure-u-1 pure-u-md-1-5">
                                        <label for="first-name">Nama Produk</label>
                                        <input id="produk" class="pure-u-23-24" type="text">
                                    </div>

                                    <div class="pure-u-1 pure-u-md-1-5">
                                        <label for="first-name">....</label>
                                        <button type="button" id="cek-btn" class="button-success button-xlarge pure-button">Cek</button>
                                    </div>

                                </fieldset>
                            </form>
                        </section>
                        <section class="post">
                            <table class='pure-table pure-table-striped'>
                              <thead>
                                <tr>
                                  <th width='40%'>Nama Produk</th>
                                  <th width='10%'>Sertifikat</th>
                                  <th width='30%'>Produsen</th>
                                  <th width='20%'>Berlaku Hingga</th>
                                </tr>
                              </thead>
                              <tbody id="data">

                              </tbody>
                            </table>
                        </section>
                    </div>

                    <div class="footer">
                        <div class="pure-menu pure-menu-horizontal">
                            <ul>
                                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Copyleft حلال </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="app.js"></script>
        <script src="jquery-3.1.1.min.js"></script>
    </body>
</html>
